<div class="container landing">
    <div class="dark-overlay landing-inner">

        <!-- <div ng-disabled="primary === color && !isPrimary">
            <h1>Developer Kommunity</h1>
            <p>
                Create a developer profile/portfolio, share posts and get help from other developers
            </p>
        </div> -->


        <div class="text-light">
            <h1>Developer Kommunity</h1>
            <p>
                Create a developer profile/portfolio, share posts and get help from other developers
            </p>
            <a class="navbar-brand" mat-raised-button color="primary" mat-raised-button [routerLink]="['signup']"
                routerLinkActive="active">
                Signup
            </a> &nbsp; &nbsp;
            <a class="navbar-brand" mat-raised-button color="accent" mat-raised-button [routerLink]="['login']"
                routerLinkActive="active">
                Login
            </a>
        </div>
    </div>
</div>